@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Custom styles for the chart container */
.chart-container {
  @apply bg-white p-4 rounded border-1 border-black flex items-center justify-center;
}

/* Customize chart colors to black and white */
.chartjs-color-0 {
  @apply bg-white border-white;
}

/* Additional styles for better visibility */
.chartjs-color-0-0 {
  @apply bg-white border-white;
}

.chartjs-color-0-1 {
  @apply bg-gray-400 border-gray-400;
}

.chartjs-color-0-2 {
  @apply bg-gray-600 border-gray-600;
}

.btm-shadow {
  box-shadow: 0 4px 4px -4px black;
}

.editor ol {
  list-style: decimal inside;
  margin-left: 1rem; /* Adjust as needed */
}

.editor ul {
  list-style: disc inside;
  margin-left: 1rem; /* Adjust as needed */
}

/* Style for code blocks */
.editor .public-DraftStyleDefault-pre {
  background-color: #e2e8f0; /* This is Tailwind's slate-300 */
  margin: 1rem 0;
  padding: 1rem;
  white-space: pre-wrap;
  font-family: monospace;
}

/* Styling for age slider */

.custom-track .example-track {
  background: gray;
  height: 10px;
}

.custom-track .example-track-selected {
  background: black;
}

.example-thumb {
  height: 25px;
  line-height: 25px;
  width: 25px;
  text-align: center;
  background-color: #000;
  color: #fff;
  border-radius: 50%;
  cursor: grab;
}

.right-thumb {
  right: -20px; /* Adjust the value as needed to shift the right thumb to the left */
}

.example-track {
  background: #000;
  height: 10px;
}
