@tailwind base;
@tailwind components;
@tailwind utilities;

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Custom styles for the chart container */
.chart-container {
  @apply bg-white p-4 rounded border-1 border-black flex items-center justify-center;
}

/* Customize chart colors to black and white */
.chartjs-color-0 {
  @apply bg-white border-white;
}

/* Additional styles for better visibility */
.chartjs-color-0-0 {
  @apply bg-white border-white;
}

.chartjs-color-0-1 {
  @apply bg-gray-400 border-gray-400;
}

.chartjs-color-0-2 {
  @apply bg-gray-600 border-gray-600;
}
